<article>
  <h1>
    <%= @article.title %>
    <small>
      <%= link_to edit_article_path, class: "navbar-brand" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
        <%= link_to article_path, class: "navbar-brand", method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </small>
  </h1>
  <p><%= @article.content %></p>
</article>
<%= link_to "Back", articles_path %>
